body,
button,
div,
h1,
h2,
input,
p,
section {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    outline: 0;
    border: 0;
    margin: 0;
    color: #333;
    font-size: 12px;
    cursor: default
}

#wrap {
    min-height: 300px;
    width: 600px
}

#textarea {
    padding-top: 20px;
    padding-left: 20px
}

#nyuryoku {
    width: 400px;
    border-bottom: solid 3px #3cc;
    -webkit-animation-name: inputarea;
    animation-name: inputarea;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-timing-function: cubic-bezier(.265, .26, .995, -.385);
    animation-timing-function: cubic-bezier(.265, .26, .995, -.385);
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
    -webkit-animation-play-state: running;
    animation-play-state: running
}

@-webkit-keyframes inputarea {
    0% {
        width: 10px
    }

    100% {
        width: 400px
    }
}

@keyframes inputarea {
    0% {
        width: 10px
    }

    100% {
        width: 400px
    }
}

#input {
    height: 40px;
    font-size: 40px;
    margin-bottom: 5px
}

#result {
    margin-top: 40px
}

.tango {
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px
}

h2 {
    font-size: 20px
}

.eigo {
    font-size: 20px
}

.kwsk {
    font-size: 15px
}

#readme {
    display: none
}